In [1]:
import pandas as pd
df = pd.read_csv(r"D:\Data Analytics\my sql\fortune500.csv")
df.head(10)

   Year  Rank           Company  Revenue (in millions) Profit (in millions)
0  1955     1    General Motors                 9823.5                  806
1  1955     2       Exxon Mobil                 5661.4                584.8
2  1955     3        U.S. Steel                 3250.4                195.4
3  1955     4  General Electric                 2959.1                212.6
4  1955     5            Esmark                 2510.8                 19.1
5  1955     6          Chrysler                 2071.6                 18.5
6  1955     7            Armour                 2056.1                  1.6
7  1955     8          Gulf Oil                 1705.3                182.8
8  1955     9             Mobil                 1703.6                183.8
9  1955    10            DuPont                 1687.7                344.4

In [3]:
df.describe()
#using this function you can get all of the descriptive statistics at once

              Year          Rank  Revenue (in millions)
count  25500.00000  25500.000000           25500.000000
mean    1980.00000    250.499765            4273.329635
std       14.71989    144.339963           11351.884979
min     1955.00000      1.000000              49.700000
25%     1967.00000    125.750000             362.300000
50%     1980.00000    250.500000            1019.000000
75%     1993.00000    375.250000            3871.000000
max     2005.00000    500.000000          288189.000000

In [4]:
# we can also get descriptive statistics for a particular field
df["Revenue (in millions)"].describe()

count     25500.000000
mean       4273.329635
std       11351.884979
min          49.700000
25%         362.300000
50%        1019.000000
75%        3871.000000
max      288189.000000
Name: Revenue (in millions), dtype: float64

In [5]:
#to get min, max values fora field
df["Revenue (in millions)"].min()

49.7

In [6]:
df["Revenue (in millions)"].max()

288189.0

In [7]:
df["Revenue (in millions)"].mean()

4273.32963529412